body:after { display: block; position: absolute; width: 1px; height: 100%; top: 0px; left: 0px; }

html,body {
  background-color: #5d091a;
}

* {
  font-family: sans-serif;
  color: white;
}

h1 {
  color: #e81741;
}
